* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://cdn.wallpapersafari.com/10/23/C7W9Qv.jpg);
    font-family: Jost;
    font-size: 22px;
}

.button {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #345eeb;
    opacity: 95%;
    color: #fff;
}

.body {
    position: absolute;
    width: 50%;
    overflow: hidden;
    margin: 10% 25%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

.main {
    margin: 50px 25%;
    text-align: center;
}

.label {
    text-align: left;
}

.input {
    width: 100%;
    border-radius: 20px;
    border: 0;
    padding: 5px 2px;
}

.input input,
select {
    box-shadow: 1px 0px 20px #000;
}

.iCon {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .body {
        position: none;
        width: 100%;
        margin: 0;
        padding: 50px;
    }
    .main,
    .input {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    option {
        text-align: center;
    }
}