* {
    font-family: Jost, sans-serif;
    text-decoration: none;
}

#navh {
    font-size: 25px;
    font-weight: 500;
}

#navlink {
    text-align: center;
    font-size: 22px;
    color: #0098db;
    border: 2px solid transparent;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
}

#navlink:hover {
    border: 2px solid #0098db;
    border-radius: 20px;
    transition: 0.3s ease-in;
}

#navlink_ch {
    text-align: center;
    font-size: 22px;
    background: linear-gradient(90deg, rgba(0, 26, 107, 1) 0%, rgba(0, 128, 192, 1) 82%, rgba(0, 152, 219, 1) 100%);
    color: #fff;
    border: 2px solid linear-gradient(90deg, rgba(0, 26, 107, 1) 0%, rgba(0, 128, 192, 1) 82%, rgba(0, 152, 219, 1) 100%);
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
}

#navlink_ch:hover {
    /* border: 2px solid linear-gradient(90deg, rgba(0, 26, 107, 1) 0%, rgba(0, 128, 192, 1) 82%, rgba(0, 152, 219, 1) 100%); */
    border-radius: 25px;
    opacity: 90%;
    /* background: linear-gradient(90deg, rgba(0, 26, 107, 1) 0%, rgba(0, 128, 192, 1) 82%, rgba(0, 152, 219, 1) 100%); */
    transition: 0.3s ease-in;
}

#head1 {
    text-align: center;
    font-size: 36px;
    padding: 20px 40px;
    text-decoration: underline #0098db;
}

#p1 {
    font-size: 25px;
    text-align: center;
    padding: 0px 5%;
}

#video {
    margin: 0% 15%;
}

#head2 {
    text-align: left;
    font-size: 36px;
    text-decoration: underline #0098db;
}

#p2 {
    font-size: 25px;
    text-align: left;
}

.htxt {
    padding: 5% 40px 5% 40px;
}

.himg {
    width: 100%;
}

.hmain {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: lightgrey;
    justify-items: center;
    align-items: center;
    margin: 20px 0px;
}

#diskmain {
    grid-template-columns: 1fr 1.5fr;
}

#diskimg_div {
    grid-row: 1/2;
}

#head3 {
    text-align: right;
    font-size: 36px;
    text-decoration: underline #0098db;
}

#p3 {
    font-size: 25px;
    text-align: right;
}