@media only screen and (max-width: 576px) {
    #nsvbar {
        text-align: center;
    }
    #navlink,
    #navlink_ch {
        border: 0;
        margin-top: 10px;
        ;
    }
    #navlink_ch {
        border: 0;
        margin-top: 10px;
        color: rgb(255, 0, 0);
        background: #fff;
        ;
    }
    #navlink:hover {
        border: 0;
        color: #004487;
        transition: 0.3s ease-in;
    }
    #navlink_ch {
        text-align: center;
    }
    #video {
        margin: 0% 5%;
    }
}

@media only screen and (max-width: 998px) {
    .hmain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: start;
        align-items: start;
    }
    .himg_div {
        grid-row: 1/2;
    }
    #diskmain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: start;
        align-items: start;
    }
    #head3,
    #p3 {
        text-align: left;
    }
}