@media only screen and (max-width: 576px) {
    #nsvbar {
        text-align: center;
    }
    #navlink,
    #navlink_ch {
        border: 0;
    }
    #navlink:hover {
        border: 0;
        color: #004487;
        transition: 0.3s ease-in;
    }
    #navlink_ch {
        text-align: center;
        font-size: 22px;
        background: linear-gradient(90deg, rgba(0, 26, 107, 1) 0%, rgba(0, 128, 192, 1) 82%, rgba(0, 152, 219, 1) 100%);
        color: #fff;
        border: 2px solid linear-gradient(90deg, rgba(0, 26, 107, 1) 0%, rgba(0, 128, 192, 1) 82%, rgba(0, 152, 219, 1) 100%);
        border-radius: 25px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 20px;
    }
    #navlink_ch:hover {
        /* border: 2px solid linear-gradient(90deg, rgba(0, 26, 107, 1) 0%, rgba(0, 128, 192, 1) 82%, rgba(0, 152, 219, 1) 100%); */
        border-radius: 25px;
        opacity: 90%;
        /* background: linear-gradient(90deg, rgba(0, 26, 107, 1) 0%, rgba(0, 128, 192, 1) 82%, rgba(0, 152, 219, 1) 100%); */
        transition: 0.3s ease-in;
    }
}