/* mobile */

@media only screen and (max-width: 684px) {
   
    .h {
      text-align: center;
      float: none;  
      font-size: 32px;         
    }
  
    .tbox{
      padding-bottom: 0px;
      float: none;  
      margin-left:  -50px;
    }
    #o{
      display: none;
    }
    .align{
      vertical-align:-26px;
      width: 54px ;
      height: 54px ;
      margin-left: 30px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 10px;
      float: none;
    }
    .banner{
      width: 105%;
    }
    #b_box{
      float: none;
      text-align: center;
      margin-bottom: 10px;
      padding-left: 0px;
    }
    #title_btn{
      margin-top: 0px;
      float: none;
      text-align: center;    
    }
    #title_btn li a{
           
      padding: 0px 0px;
      margin: 0px 09px;
      font-size: 20px;
      border: none;
      border-bottom: 1.5px dotted ;
      border-radius: 0px;  
      float: none;  
      line-height: 30px; 

    }
    #title_btn li a:hover{
      border: none;
      border-radius: 0;
      border-bottom: 1.5px solid;
      padding: 0px 0px;  
     

    }
    #h1,#h2{
      font-size: 30px;
    }
    #p1,#p2{
      font-size: 20px;
    }
      #Pro{
        width: 100%;
      }
      #proi{
        width: 103.75%;
        float: none;
        margin-left: -20px;
      }
      #h3,#p2{
        text-align: justify;
        width: 100%;
        padding: 0px 10px;
        /*padding: 0px 25px;*/
      }
      #h3{
        text-align: center;
      }
      #_pro, #_pro2{
        margin: 0px;      
        text-align: center;
        width: 85%;
        padding: 38px 0px;
        padding-left: 1%;  
      
      }
    }

/* tablet */
  @media only screen and (max-width: 977px) and (min-width: 685px){
    
    .h {
      text-align: center;
      float: unset;   
         
    }

    .tbox{
      padding-bottom: 0px;
    }

    .align{
      margin-right: 0px;
      margin-bottom: 10px;
      vertical-align: -25px;
    }
 
     .tbox{
       padding-bottom: 0px;
       text-align: center;
       float: none;
     }
     #b_box{
      text-align: center;
      float: none;   
    }
    .banner{
      width: 102.25%;
    }
     .align{
       margin-right: 2px;
     }
     #title_btn{
       
       margin-top: 10px;
       padding: 0px;
       float: none;  
      
     }
     #title_btn li a{           
      padding: 0px 8px;
      margin: 0px 25px;
      border-bottom: 1.5px solid ;
      border-radius: 0px;
     }
     #p1,#p2{
      font-size: 20px;
    }
    #Pro{
      width: 100%;
    }
    #proi{
      width: 102.25%;
      float: none;
      margin-left: -20px;
    }
    #h3,#p2{
      text-align: justify;
      width: 100%;
      padding: 0px 10px;
      /*padding: 0px 25px;*/
    }
    #h3{
      text-align: center;
    }
    #_pro{
      margin:0px;      
      text-align: center;
      width: 90%;
      padding: 38px 0px;
      padding-left: 2.5%; 
    
    }
     #_pro2{
      margin:0px;      
      text-align: center;
      width: 90%;
      padding: 38px 0px;
      padding-left: 2.5%; 
    
    }
  }

  /* window resize */

  @media only screen and (max-width: 1075px) and (min-width :948px){

    #title_btn li a{
      font-size: 20px;
    }

  }

  @media only screen and (max-width: 978px) and (min-width :978px){
    #title_btn li a{
      font-size: 25px;
    }
  }

  @media only screen and (max-width: 1690px) and (min-width: 978px){

    #Pro{
      width: 100%;
    }
    #proi{
      width: 101%;
      float: none;
      margin-left: -20px;
    }
    #h3,#p2{
      text-align: justify;
      width: 100%;
      padding: 0px 10px;
      /*padding: 0px 25px;*/
    }
    #h3{
      text-align: center;
    }
    #_pro, #_pro2{
      margin: 0px;      
      text-align: center;
      width: 85%;
      padding: 38px 0px;
      padding-left: 4%;  
    
    }  
      
    

  }